
tr:nth-child(odd) {
	background: white;
}
 
tr:nth-child(even) {
	background: silver;
}

tr:nth-child(odd) th {
	background: white;
}
 
tr:nth-child(even) th {
	background: silver;
}

.timeline {
	overflow-x: scroll;
}
